.header-wrapper {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 100px 1fr;
}

.header-title {
  display: flex;
  grid-row: 1/2;
  justify-content: center;
  align-items: center;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  color: black;
  font-size: 50px;
  letter-spacing: 5px;
  text-decoration: none !important;
  vertical-align: top;
}
